#head{
    /* margin-left: 40%; */
    text-align: center;
    background-color: gold;
    color: black;
    }
    nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
          /* width: 50%; */
          margin-left: 30%;
          color: black;
    }
    nav ul{
          list-style-type: none;
          text-align: center;
          padding: 0, 10px;
    }
    nav ul,li, a{
             text-transform: capitalize;
             display: flex;
             padding: 15px;
    }
    .love{
        background-color:gold;
        margin-top: -4.5%;
        padding:5px 10px;
        /* margin: 20px 10px; */
        display: flex;
        justify-content: space-between;
    }
    #tin{
      margin-left: 10%;
      margin-bottom: 15%;
      font-size: 35px;
      
    }
    
    #chair{
      width: 300px;
      margin-left: 10%;
      margin-top: -15%;
    }
    .ear{
      margin-left: 29%;
    }
    
    .weather{
      margin-left: 45%;
      margin-top: -13%;
    }
    .food{
      margin-left: 25%;
    }
    .stone{
      margin-left: 20%;
      font-size: 20px;
    }
    .pen{
      display: flex;
      
    }
    .brian{
      margin-left: 5%;
    }
    .tree{
      margin-left: 5%;
    }
    .keyboard{
      margin-left: 25%;
      margin-top: -23%;
    }
    .akira{
      margin-left: 25%;
    }
    .phone{
      margin-left: 25%;
    }
    .school{
      margin-left: 53%;
      margin-top: -23%;
    }
    .tablet{
      margin-left: 53%;
    }
    .building{
      margin-left: 75%;
      margin-top: -23%;
    }
    .sleep{
      margin-left: 75%;
    }
    .cherop{
      margin-left: 75%;
    }
    .soap{
      margin-left: 40%;
      font-size: 23px;
      color: yellow;
    }
    .britah{
      display: flex;
      justify-content: space-between;
      background-color:blueviolet;
    }
    .room{
      font-size: 30px;
      display: flex;
      margin-left: 10%;

    }

    .pen img{
      width: 50px;
      margin-top: -5%;
      margin-left: 3%;
    }
    .board{
      margin-left: 60%;
      margin-top: -25%;
    }
    .bin{
      margin-left: 60%;
    }
    .watch{
      margin-left: 60%;
    }
    .shoe{
      margin-left: 80%;
      margin-top: -12%;
    }




/* small devices(landscape phones,576px and up) */
/* @media (min-width:576px){} */
/* medium devces(tablets,768px and up) */
/* @media (min-width:768px){} */
/* large devices(desktops,992px and up) */
/* @media (min-width:992px){} */
/* Extra large devices(large desktops,1200px and up) */
/* @media (min-width:1200px){} */
    
    /* #cotton1{
      border-radius: 10px;
      width: 40px;
      background-color: yellow;
    margin-left: 10%;
    margin-top: ;
  } */