nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 40%;
    color: black;
}
nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0, 10px;
}
#image15{
  width: 100px;
  height: 100px;
}
nav ul,li, a{
       text-transform: capitalize;
       display: flex;
       padding: 10px;
}
#images1{
  width: 700px;
  height: 400px;
}
.content1{
    background-color:skyblue;
    margin-top: -4.5%;
    padding:5px 10px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}
#flex{
  margin-left: 20%;
}
.box{
  width: 300px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 30%;
}
.box > i{
  font-size: 20px;
}
 .box > input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}
.contents{
  display: flex;
  justify-content: space-between;
}
.bee{
  float: right;
  justify-content: space-between;
  

}
#images2{
  width: 200px;
  height: 150px;
}
.city{
  display: flex;
  justify-content: space-between;
}
.tiger{
  display: flex;
  justify-content: space-between;
}
#structures{
  margin-left: 45%;
}
#cheetah{
  margin-left: 50%;
}
#light{
  margin-left: 40%;
}
.tax{
  display: flex;
  justify-content: space-between;
}
.item{
  background-color: gold;
  display: flex;
  justify-content: space-between;
}
#tan{
  margin-left: 45%;
}
.debate{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.unity{
  margin-left: 35%;
}
.britah{
  display: flex;
  justify-content: space-between;
  background-color: purple;
}

@media only screen and (max-width:1000px) and (min-height:800px){
  .bike{
      display: grid;
      grid-template-columns:repeat(1,1fr) ;
  }

}
